<h3>Welcome to Car Dealer shop, please choose car you are willing to buy.</h3>
<div>
    <a asp-controller="Shop" asp-action="ShoppingCart" class="btn btn-primary float-right">
        Shopping Cart @if (ViewBag.Cart > 0)
        {
            <div>(@ViewBag.Cart)</div>
        }
    </a>
    <div>
        <ul class="list-group">
            @if (ViewBag.ListOfCars != null)
            {
                foreach (var item in ViewBag.ListOfCars)
                {
                    <li class="list-group-item">
                        <div class="float-left">
                            <div>
                                Brand: @item.Brand
                            </div>
                            <div>
                                Model: @item.Model
                            </div>
                            <div>
                                Year of production: @item.ProductionDate.ToString("yyyy")
                            </div>
                            <div>
                                Price: @item.Price
                            </div>
                        </div>
                        <button asp-controller="Shop" asp-action="Buy" class="btn btn-danger float-right ml-1">Buy Car</button>
                    </li>
                }
            }
        </ul>
    </div>
</div>