@{ 
    ShoppingCart bucket = ViewBag.Bucket;
}
<h2>Your shopping cart</h2>
<ul class="list-group">
    @{ foreach (var car in bucket.ShoppingList)
        {
            <li class="list-group-item">
                <div class="float-left">
                    <div>
                        Brand: @car.Brand
                    </div>
                    <div>
                        Model: @car.Model
                    </div>
                    <div>
                        Year of production: @car.ProductionDate.ToString("yyyy")
                    </div>
                    <div>
                        Price: @car.Price
                    </div>
                </div>
                <a asp-controller="Shop" asp-action="Buy" asp-route-Id="@car.ID" class="btn btn-danger float-right ml-1">Buy Car</a>
            </li>
        }
    }
    <li class="list-group-item active">Cras justo odio</li>

</ul>